@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

/*Generales*/

img {
  width: 90%;
}

h1 {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  width: 95%;
}

@media (min-width: 768px){
  .contenedor{
    margin: 0 auto;
  }
}

.btn{
  padding: .4rem 1rem;
  background-color: #fff;
  text-decoration: none;
  color: black;
  border-radius: 0.6rem;
  border: solid 2px black;
  margin-bottom: 1rem;
}

.btn:hover{
  background-color: #000;
  color: white;
}

/*Navegación*/
.logo img {
  width: 100px ;
  text-align: left;
  padding: 10px 0;
}

.logo {
  display: block;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    justify-content: space-around;
  }
}

.nav {
  padding-top: 15px;
}

@media (min-width: 768px) {
  .nav {
    padding-top: 50px;
  }
}

.nav a {
  display: flex;
  margin-right: 25px;
  text-decoration: none;
  color: #000;
  padding-bottom: 15px;
  justify-content: center;
  transition: text-decoration .3s ease-in-out;
  margin: 0;
}

@media (min-width: 768px) {
  .nav a {
    display: inline-block;
    text-align: center;
    margin: 1rem;
  }
}

.nav a:hover {
  text-decoration: underline;
}

/* Principal */

.principal {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .principal {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}

.principal img {
  margin-top: 20px;
  width: 350px;
  margin-left: 1rem;
}

.descripcion p {
  line-height: 2;
  font-size: 16px;
}

.descripcion p i {
  font-size: 16px;
}

/*Footer*/

.site-footer {
  width: 100%;
  height: 120px;
  background-color: #000;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
}

@media (min-width: 768px) {
    .site-footer{
        flex-direction: row;
    }
}

.site-footer a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-size: 20px;
}
.site-footer a i {
  font-size: 30px;
}

.site-footer a i:hover{
  text-decoration: underline;
}
